/* **************
// ALL DEVICE STYLING
/* **************/

.App {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

/* **************
// DESKTOP
/* **************/

.Header {
  width: 100%;
}

.Header nav {
  display: block;
  background-color: #f3f6f6;
  height: 30px;
  width: 100%;
}

.Navlink {
  color: black;
  float: left;
  height: 28px;
  padding: 5px 0px 5px 10px;
  width: 28px;
  text-decoration: none;
}

.Navlink:hover {
  color: #d2453c;
  font-weight: 600;
}

form {
  float: right;
  padding: 5px 20px 5px 0px;
}

button {
  border: 1;
  border-color: black;
  background-color: white;
  color: black;
  font-size: 12px;
}

button:hover {
  color:#d2453c;
  font-weight: 600;
}

.Header h1 {
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 4px;
}

.Description {
  font-size: 18px;
  margin: 0 auto;
  padding: 0px 0px 25px 0px;
  text-align: center;
  width: 700px;
}
/* Edit description width sizing for Mobile */

.Cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Card {
  margin: 10px;
  text-align: left;
}

.Card img {
  border-radius: 10px;
}

.Card h3 {
  color: #d2453c;
  font-size: 20px;
  margin: 0;
  text-decoration: none;
}

.Card h3:hover {
  color: #ddaab9;
}

.Card h4 {
  color: gray;
  font-size: 18px;
  margin: 0;
  padding: 5px 0px 0px 0px;
}

.Card p {
  color: #d2453c;
  font-size: 16px;
}

.Card p:hover {
  color: #ddaab9;
}

.Profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Horoscope {
  text-align: center;
}

.Horoscope img {
  border-radius: 10px;
  padding: 20px 0px 0px 0px;
}

.Horoscope h3 {
  color: #d2453c;
  font-size: 24px;
  margin: 0;
  padding: 20px 0px 0px 0px;
}

.Horoscope p {
  font-size: 20px;
  width: 1000px;
  padding: 0px 0px 30px 0px;
}

.Footer {
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 2px;
  width: 100%;
}

.Footer a {
  color: white;
}

/* **************
// TABLET
/* **************/

@media screen and (max-width: 1025px) {

}

/* **************
// STANDARD MOBILE
/* **************/

@media screen and (max-width: 600px) {

}

/* **************
// SMALL MOBILE
/* **************/

@media screen and (max-width: 500px) {

}