/* **************
// ALL DEVICE STYLING
/* **************/

.App {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  position: relative;
  margin: 0 auto;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

/* **************
// DESKTOP
/* **************/

.Header {
  width: 100%;
}

.Header nav {
  display: block;
  background-color: #f3f6f6;
  height: 30px;
  width: 100%;
}

.Navlink {
  color: black;
  float: left;
  height: 28px;
  padding: 5px 0px 5px 10px;
  width: 28px;
  text-decoration: none;
}

.Navlink:hover {
  color: #d2453c;
  font-weight: 600;
}

form {
  float: right;
  padding: 5px 20px 5px 0px;
}

button {
  border: 1;
  border-color: black;
  background-color: white;
  color: black;
  font-size: 12px;
}

button:hover {
  color:#d2453c;
  font-weight: 600;
}

.Header h1 {
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 4px;
}

.Description {
  font-size: 18px;
  margin: 0 auto;
  padding: 0px 0px 25px 0px;
  text-align: center;
  width: 700px;
}

.Cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Card {
  margin: 10px;
  text-align: left;
}

.Card img {
  border-radius: 10px;
}

.Card h3 {
  color: #d2453c;
  font-size: 20px;
  margin: 0;
  text-decoration: none;
}

.Card h3:hover {
  color: #ddaab9;
}

.Card h4 {
  color: gray;
  font-size: 18px;
  margin: 0;
  padding: 5px 0px 0px 0px;
}

.Card p {
  color: #d2453c;
  font-size: 16px;
}

.Card p:hover {
  color: #ddaab9;
}

.Profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Horoscope {
  text-align: center;
}

.Image {
  border-radius: 10px;
}

.Horoscope h3 {
  color: #d2453c;
  font-size: 24px;
  margin: 0;
  padding: 20px 0px 0px 0px;
}

.Horoscope p {
  font-size: 20px;
  width: 1000px;
  padding: 0px 0px 30px 0px;
}

.Loading {
  height: 200px;
  width: 200px;
}

.Footer {
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 2px;
  width: 100%;
}

.Footer a {
  color: white;
}

/* **************
// TABLET
/* **************/

@media screen and (max-width: 1050px) {
  .Navlink {
    color: #d2453c;
    font-weight: 600;
  }

  .Card img {
    height: 200px;
    width: 400px;
  }
  
  .Horoscope h3 {
    font-size: 24px;
  }
  
  .Horoscope p {
    font-size: 20px;
    width: 850px;
  }

}

/* **************
// SMALL TABLET
/* **************/

@media screen and (max-width: 840px) {
  .Navlink {
    color: #d2453c;
    font-weight: 600;
  }

  .Header h1 {
    font-size: 40px;
  }
  
  .Description {
    font-size: 16px;
    width: 600px;
  }
 
  .Card img {
    height: 150px;
    width: 300px;
  }

  .Card h3 {
    font-size: 18px;
  }

  .Card h4 {
    font-size: 16px;
  }
  
  .Card p {
    font-size: 14px;
  }

  .Image {
    height: 200px;
    width: 650px;
  }
  
  .Horoscope h3 {
    font-size: 20px;
  }
  
  .Horoscope p {
    font-size: 18px;
    width: 650px;
  }

}

/* **************
// STANDARD MOBILE
/* **************/

@media screen and (max-width: 640px) {
  .Navlink {
    color: #d2453c;
    font-weight: 600;
  }

  .Header h1 {
    font-size: 36px;
  }
  
  .Description {
    font-size: 16px;
    width: 500px;
  }
 
  .Card img {
    height: 200px;
    width: 500px;
  }

  .Image {
    height: 150px;
    width: 500px;
  }
  
  .Horoscope h3 {
    font-size: 18px;
  }
  
  .Horoscope p {
    font-size: 15px;
    width: 500px;
  }

  .Loading {
    height: 100px;
    width: 100px;
  }

}

/* **************
// SMALL MOBILE
/* **************/

@media screen and (max-width: 500px) {
  .Navlink {
    color: #d2453c;
    font-weight: 600;
  }

  .Header h1 {
    font-size: 36px;
  }
  
  .Description {
    font-size: 16px;
    width: 400px;
  }
  .Card img {
    height: 200px;
    width: 400px;
  }

  .Image {
    height: 125px;
    width: 400px;
  }
  
  .Horoscope h3 {
    font-size: 18px;
  }
  
  .Horoscope p {
    font-size: 15px;
    width: 400px;
  }

  .Loading {
    height: 100px;
    width: 100px;
  }

}